.collection {
  display: flex;
  flex-direction: column;
  background-color: #dfe3e6;
  border-radius: 0.25rem;
  color: #17394d;
  max-width: 300px;
  min-width: 300px;
  max-height: 85vh;
  padding: 8px;
  margin-right: 5px;
  overflow-wrap: break-word;

  .collection-title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .collection-delete {
      cursor: pointer;
      color: #798d99;
      &:hover {
        color: #374046;
      }
    }
  }

  .add-button {
    background: none;
    border: none;
    color: #798d99;
    &:hover {
      color: #374046;
    }
  }
}
