.collection {
  display: flex;
  flex-direction: column;
  background-color: #282828;
  border-radius: 3px;
  color: #fff;
  max-width: 300px;
  min-width: 300px;
  max-height: 85vh;
  padding: 8px;
  margin-right: 5px;
  overflow-wrap: break-word;

  .collection-title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .collection-delete {
      cursor: pointer;
      color: #777777;
      &:hover {
        color: #ce0000;
      }
    }
  }

  .add-button {
    background: none;
    border: none;
    color: #777777;
    &:hover {
      color: #eee;
    }
  }
}
