.collections-container {
  display: flex;
  align-items: flex-start;
  flex: 1;
  overflow-x: auto;

  .collection-add-button {
    padding: 5px;
    border-radius: 3px;
    border: 0px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
  }
}
