.board-header {
  margin: 15px 0;
  display: flex;
  align-items: center;
  overflow-x: auto;

  .board-header-block {
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-size: 1.3em;
    padding: 5px;
    svg {
      cursor: pointer;
    }
  }

  input {
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    border-radius: 3px;
  }
}
