.board {
  margin: 0 10px;
  height: calc(100vh - 52px); //52 = header height(47)+15 margin on board header
  display: flex;
  flex-direction: column;

  .board-header {
    margin: 15px 0;

    .board-name {
      margin-right: 10px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      font-size: 1.3em;
      padding: 5px;
    }
  }
}
