.board {
  margin: 0 10px;
  height: calc(100vh - 52px); //52 = header height(47)+15 margin on board header
  display: flex;
  flex-direction: column;
}
.github-link {
  position: fixed;
  bottom: 5%;
  background: #1e1f26;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid black;
}
.github-link svg {
  padding-top: 2px;
}
