@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

.main-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;

  .logo {
    display: flex;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 1px;
  }
}
