.task-add-form {
  input {
    width: 75%;
    padding: 5px;
    margin-right: 5px;
  }
  .close-button {
    cursor: pointer;
  }
  .add-button {
    padding: 8px;
    background-color: #008cba;
    border: none;
    color: white;
    margin-right: 5px;
  }
}
