.collection {
  background-color: #dcdcdc;
  border-radius: 3px;
  color: #000;
  min-width: 300px;
  padding: 8px;
  margin-right: 5px;
  overflow-wrap: break-word;

  .collection-title {
    margin-bottom: 10px;
  }

  .add-button {
    background: none;
    border: none;
    color: #777777;
    cursor: pointer;
  }
}
