.collection {
  display: flex;
  flex-direction: column;
  background-color: #dcdcdc;
  border-radius: 3px;
  color: #000;
  width: 300px;
  max-height: 85vh;
  padding: 8px;
  margin-right: 5px;
  overflow-wrap: break-word;

  .collection-title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .collection-delete {
      cursor: pointer;
      color: #777777;
    }
  }

  .add-button {
    background: none;
    border: none;
    color: #777777;
  }
}
